#wason {
    --primary: #007753;
    --background: #d6d6d642;
    --background-dim: #ffffff;
    --background-dim-light: #f9f9f9;
    --primary-foreground: #ffffff;
    --foreground: #000000;
    --foreground-light: #444444;
    --base-unit: 8px;
    text-align: left;
}

/* You can add your custom css here.*/