#raven_matrices {
    --primary: #007753;
    --background: #ffffff;
    --background-dim: #ffffff;
    --background-dim-light: #bdbdbd;
    --primary-foreground: #ffffff;
    --foreground: #000000;
    --base-unit: 8px;
}

/* You can add your custom css here.*/